.banner {
   background-image: url(../img/bannblue.png);
   background-size: cover;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.banner h2 {
   margin: 0 5%;
   font-size: var(--text-title);
   color: var(--colorWhite);
}
@media (max-width: 576px) {
   .banner h2 {
      font-size: var(--text-m);
   }
}