:root{ 
/*Colors*/
--colorBlack:#000000;
--colorWhite:#ffffff;
--colorWhiteDark: rgb(239, 246, 247);
--colorGreen:#00ff00;
--colorGreenY: rgb(142, 212, 36);
--colorTomato:tomato;
--colorOrange: rgb(255, 146, 22);
--colorDarkBlue: rgb(18, 76, 90);
}