.footer {
    display: block;
    text-align: center;
    width: 100%;
    height:auto;
    background: var(--colorBlack);
}
.footer a {
    text-decoration: none;
}
.footer label{
    width: 100%;   
}
.footer, .footer a {
    color: var(--colorWhite);
}