.knowledge {
    text-align: center;
    margin: 0 2%;
}
.knowledge h5 {
    font-size: var(--text-2xl);
}
.knowledge img, .knowledge h5 {
    margin: 2%;
}
@media (max-width: 768px) {
    .knowledge h5 {
        font-size: var(--text-title);
    }
    .knowledge img {
        height: 70px;
    }
}
