body{
font-size: 16px;    
}
:root {
    --text-xs: 0.875rem;
    --text-base:1rem;     
    --text-m: 1.0625rem;
    --text-l: 1.25rem;
    --text-xl: 1.5rem;
    --text-title:1.75rem;
    --text-2xl: 2rem;
}
  